@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@800&display=swap');

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: orange;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.college {
    z-index: -2;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Encode Sans', sans-serif;
    font-size: 3rem;
}

.college h2 {
    font-size: 5rem;
    transition: 1s ease-out;
    /* background: linear-gradient(to right, #30CFD0 0%, #eead0a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.college p {
    font-size: 2rem;
}

.IOTletters {
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

.letter-i,.letter-o,.letter-t {
    width: 200px;
}


main{
    height: 300vh;
    z-index: -1;
}

@media(max-width:768px){
    .college h2{
        font-size: 1.2rem;
    }
}